body{
  background: #FC5C7D;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #6A82FB, #FC5C7D);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #6A82FB, #FC5C7D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


color:white;
}

*{
  padding: 0;
  margin: 0;
}
.notes-header{
  font-family: 'Lobster', cursive;
}
.notes-header, .notes-body, .notes-footer{
  background-color: rgba(0,0,0,0.5);
  padding: 20px;
  margin: 0;
    text-align: center;
}

.notes-body{
  margin-top: 20px;

}
.notes-footer{
  bottom:0;
  position: fixed;
  left: 0;
  width: 100%;
}
